body{
    background: url("../img/back.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Main-Window{
    width: 1280px;
    margin: 0 auto;

}

.header{
    width: 1366px;
    height: 54px;
    background-color:  rgba(0, 0, 0, 0.41);

}
.header-login-link, .header-journey-link{
    text-decoration: none;
}

.header-journey-text:hover{
    color: #3cb878;
}

.header-icon{
    display: inline-block;
    background-image: url("../img/css_sprites.png");
    height: 20px;
    width: 28px;
    filter: brightness(0) invert(1);
}
.header-icon:hover{
    filter: none;
}
.header-icon.ic-calendar{
    background-position: -10px -50px;
    margin-right: 22px;
}
.header-icon.ic-forum{
    background-position: -10px -10px;
    margin-right: 22px;
}
.header-icon.ic-journey{
    background-position: -58px -10px;
    margin-right: 45px;
}
.header-journey{
    margin: 0px;
    padding: 15px 20px 20px 100px;
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    width: 120px;
}
.header-icons{
    float: right;
    padding-top: 13px;
}
.header-welcome{
    padding: 15px 100px 0 0;
    float: right;
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
     text-align: left;
    align-items: baseline;

}
.header-login-sing_up{
    font-family: Verdana,sans-serif;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.header-login-sing_up:hover{
    border-bottom: 1px solid #3cb878;
}
.create_account{
    width: 444px;
    height: 635px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    margin: 60px 418px 60px 418px;
    background-color: white;
    border: 1px solid inherit;
    border-radius: 3px;

}
.create_account-content{
    float: left;
    width: 320px;
    height: 600px;
    margin: 22px 62px 0 0;
}
.create_account-sign_up{
    font-family: Verdana,sans-serif;
    color:  #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
.create_account-log_in{
    font-family: Verdana,sans-serif;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    float: right;
}
.create_account-log_in:hover{
    border-bottom: 1px solid #3cb878;
}
.create_account-log_in-link{
    text-decoration: none;
}
.create_account-Facebook{
    border-radius: 3px;
    background-color:  #305db8;
    width: 157px;
    height: 46px;
    float: left;
    margin-top: 15px;
    text-align: left;
    display: flex;
    align-items: center;
    border: 0;
}
.create_account-Facebook:hover{
    background-color: #264b96;
}
.create_account-Google{
    border-radius: 3px;
    background-color:  #df4a32;
    width: 157px;
    height: 46px;
    float: right;
    margin-top: 15px;
    display: flex;
    align-items: center;
    border: 0;
}
.create_account-Google:hover{
    background-color: #c3412c;
}
.facebook_img{
    margin-left: 15px;
    padding-right: 15px;
    border-right: solid 1px #2752a7;

}
.create_account-Facebook-text{
    margin-left: 15px;
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.google_img{
    margin-left: 15px;
    padding-right: 15px;
    border-right: solid 1px #c9402a;
}
.create_account-Google-text{
    margin-left: 15px;
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.create_account-or{
    margin-top: 20px;
}
.hr_left{
    margin: 0 11px 2px 0;
    width: 135px;

    display: inline-block;
    background-color: #eaeaea;;
}
.hr_right{
    margin: 0px 0px 2px 11px;
    width: 135px;

    display: inline-block;
    background-color: #eaeaea;;
}
.create_account-or-text{
    font-family: Verdana,sans-serif;
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.input{
    font-family: Verdana, sans-serif;
    color: #bebebe;
    outline: none;
    width: 299px;
    height: 46px;
     padding-left: 17px;
    font-size: 14px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}
.First_Name{
    margin-top: 21px;
}
.Last_Name, .Email, .Choose_Password, .Confirm_Password{
    margin-top: 17px;
}
.input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 21px;
}
.clear{
    clear: both;
}
.checkbox{
    -webkit-appearance: none;
    display: inline-block;
    margin-top: 19px;
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
}
.checkbox:checked{
    background: url("../img/checkbox.png") no-repeat center;


}
.checkbox-text{
    display: inline-block;
    height: 20px;


}
.checkbox-agree{
    font-weight: 400;
    margin-left: 10px;
    width: 211px;
    height: 14px;
    color: #434343;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 21px;
}
.checkbox-terms_and_conditions{
    color: #3cb878;
}
.checkbox-terms_and_conditions-link{
    text-decoration: none;
}
.checkbox-terms_and_conditions:hover{
    border-bottom: 1px solid #3cb878;
}
.create_account-button{
    width: 320px;
    height: 46px;
    margin-top: 28px;
    background-color: #3cb878;
    border: 1px solid white;
    border-radius: 3px;
    color: #ffffff;
    font-family: Verdana,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
.create_account-button:hover{
    background-color: #329a65;
}
.green_block{
    width: 18px;
    height: 18px;
    background-color:#3cb878;
    float: left;
    margin: 22px 44px 0 0;
}
