body {
    background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 1072px;
    margin: 0 auto;

}

.header {
    margin: 49px 0 49px 0;

}

.logo {
    float: left;
    width: 165px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 1.813em;
    font-weight: 300;
    line-height: 0.724;
    text-align: left;

}

.logo:hover .MILAN {
    color: #f26522;
}

.logo:hover .HOLIDAYS {
    color: #f26522;
}

.logo:hover .logo_img {

}

.logo_img {
     float: left;
     margin-right: 10px;
    filter: brightness(0) invert(1);

 }

.logo:hover .logo_img {
    filter: none;
}


.logo_link {

    text-decoration: none;
}

.logo_link:hover {
    color: #f26522;
}

.MILAN {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin: 0 0 5px 0;
}

.HOLIDAYS {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin: 0;

}

.contacts {
    float: right;
    text-align: left;
}

.contacts_mail {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
}

.contacts_tel {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    float: right;
}

.clear {
    clear: both;
}

.main_window_img_containers {
    float: left;
    margin-top: 49px;

}

.main_window_img_containers {

}

.container_img {
    position: relative;
    text-align: center;
    float: left;
    margin-left: 69px;
    margin-bottom: 98px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    box-sizing: border-box;
    background-image: linear-gradient(white, black);
    box-shadow: 0 17px 24px 0 #000000;
    width: 311px;
    height: 205px;
}

.container_img_1 {
    position: relative;
    text-align: center;
    float: left;
    margin-bottom: 98px;
    border-style: solid;
    border-width: 2px;
    background-image: linear-gradient(white, black);
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 17px 24px 0 #000000;
    width: 311px;
    height: 205px;

}

.container_img_4 {
    position: relative;
    text-align: center;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 17px 24px 0 #000000;
    width: 311px;
    height: 205px;
    background-image: linear-gradient(white, black);
}

h4 {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.copyright {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    /*position: absolute;*/
    /*bottom: 1em;*/
    /*left: 790px;*/
    /*left: 41%;*/

}

.main_window_img_containers a {
    text-decoration: none;

}

.details {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f26522;
    display: none;

}

.from_p {
    margin: 0 auto;
}

.details_from {
    float: left;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin: 10px 0 10px 20px;
}

h5 {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

    margin: 0 0 2px 0;
}

.details_view::after {
    content: ">";
}

.details_view {
    float: right;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin: 14px 10px 10px 0;
    padding-top: 15px;

}

.container_img_1:hover .details {
    display: block;
}

.container_img_1:hover h4 {
    color: #f26522;
}

.container_img_4:hover h4 {
    color: #f26522;
}

.container_img:hover h4 {
    color: #f26522;
}

.container_img:hover .details {
    display: block;
}

.container_img_4:hover .details {
    display: block;
}


