
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
    url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.window{
    width: 1280px;
    margin: 70px auto;
}

.header{
    text-align: center;
    background-color:  #35444f;
    width: 1280px;
    height: 69px;
    margin-bottom: 45px;

}
.ramda{
    margin-bottom: 45px;
}
.ramda a{

    text-decoration: none;
    font-family: myriad-pro, sans-serif;
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
.span_1{
    font-family: myriad-pro, sans-serif;
    color:  #4bcaff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
.UpperMenu {
    position: relative;
    overflow: hidden;
    height: 69px;
    margin: 30px 0
}

.ul_upper_menu li{
    display: inline-block;

    }
.ul_upper_menu a{
    padding: 20px 25px 20px 25px ;
    text-decoration: none;
    font-family: myriad-pro, sans-serif;
    color:  #ffffff;
    font-size: 27px;
    font-weight: 300;
    text-align: left;
    margin-left: 20px;
}
.ul_upper_menu a:hover{
    background-color: #222f3a;
    border-left: 1px solid inherit;
    border-right: 1px solid inherit;
}
.left_menu{
    display: inline-block;
    width: 344px;
    height: 399px;
    float: left;
    border: 1px solid black;
    overflow: hidden;
}
.ul_left_menu{
    width: 344px;
    height: 401px;
    padding-left: inherit;
    margin: inherit;

}
.ul_left_menu li{
    list-style-type: none;
    padding-left: 30px;
    width: 344px;
    height: 75px;
}
#last_li{
    padding-bottom: 26px;
}

.ul_left_menu a{
    font-family: myriad-pro, sans-serif;
    color:  #485863;
    font-size: 27px;
    font-weight: 400;
    line-height: 72px;
    text-align: left;
    text-decoration: none;
}
.ul_left_menu li:hover{
    background-color: #dcdcdc;
}
.ul_left_menu a:hover{
    background-color: #dcdcdc;
    padding-left: 20px;
}
.main_IMG{
    overflow: hidden;
    display: inline-block;
    width: 885px;
    height: 529px;
    border: 1px solid black;
    float: right;

}
.main_IMG img{
    width: 885px;
    height: 529px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.main_IMG img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
 }
.text {
    clear: both;
    width: 885px;
    float: right;
    margin: 20px 0 20px 0;
}
.text p{
    font-family: myriad-pro, sans-serif;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}
.clear{
    clear: both;
}
.footer{
    background-color:  rgb(181, 184, 187);
    width: 1280px;
    height: 69px;
}
.LowerMenu {
    position: relative;
    overflow: hidden;
    height: 69px;

}

.ul_lower_menu li{
    display: inline-block;

}
.ul_lower_menu a{
    text-decoration: none;
    font-family: myriad-pro, sans-serif;
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin-left: 20px;
    padding-bottom: 3px;

}
.ul_lower_menu a:hover{
    color:  #3181a6;
    border-bottom: 1px #3181a6 solid;


}
.copy{
    float:right;
    font-family: myriad-pro, sans-serif;
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin-right: 20px;
}


