.container{
    width: 1280px;
    margin: 0 auto;
}
.main-window-img {
    width: 100%;
    height: 48.6%;
}
.main-window{
    background-color: lavender;
    padding-bottom: 20px;
}
.main-window-text{
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Roboto Mono', sans-serif;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    text-align: center;
}
.main-window-header{
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
    color:  #373737;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}
.button{
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 700;
    /*line-height: 20px;*/
    align-items: center;
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
    margin-top: 20px;
    margin-bottom: 80px;
}
.menu, .menu a{
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
    margin-left: 40px;
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}
.Copyright{
    text-align: right;
    margin-left: 60px;
    margin-right: 80px;
    font-family: 'Roboto Mono', sans-serif;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    /*line-height: 26px;*/
}